# Mac
.DS_Store

# Rust
/target
/src/envs/elastic.rs
/src/envs/db.rs
/vendor
Cargo.lock

# DB
/file
/db
/nano_db

# GraphQL, Webapp
*/**/node_modules
*/**/.env
*/**/package-lock.json
/webapp/.next

# ETC
.vscode
auto.bat
auto.sh
